header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.logo, .navigation {
   
    margin: 10%;
    border: 5px solid salmon;
    width: 100px;
    height:30px;
    background-color: rgb(150, 79, 150);
    border-radius: 20%;
    text-align: center;
    position:relative;
    font-size: 100%;

}